footer {
  padding: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;

  a {
    padding: 15px;
    margin-bottom: 50px;
    background-color: $primary-color;
    border-radius: 15px;


    color: white;
    font-weight: bold;

    &:hover {
      background-color: lighten($primary-color, 10%)
    }
  }
}

@media screen and (min-width: 600px) {
  footer a {
    padding: 15px 170px;
    margin: 0 auto 50px;
  }
}