main {
  margin: 5em 1.5em;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .left-side {
    display: flex;
    flex-direction: column;

    h1 {
      color: $primary-color;
      font-size: 48px;
      font-weight: 700;
    }

    strong {
      margin-top: 15px;
      font-size: 20px;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      margin-top: 4em;

      li {
        img {
          border-radius: 50%;
        }

        & + li {
          margin-left: 10px;
        }
      }
    }
  }

  .right-side {
    max-width: 420px;
    margin-top: 130px;

    text-align: center;

    p {
      margin-top: 15px;
      font-family: 'Overpass', sans-serif;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 480px) {
  main {
    margin-top: 10em;
    text-align: center;
    
    .left-side {
      ul {
        justify-content: center;
      }
    }

    .right-side {
      margin: 130px auto auto;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1000px) {
  main {
    flex-direction: row;
    justify-content: space-around;

    .left-side {
      text-align: left;

      h1 {
        font-size: 56px;
      }

      strong {
        font-size: 22px;
      }

      ul {
        justify-content: start;
        margin-top: 100px;
      }
    }

    .right-side {
      margin: 0;
      align-self: start;
      font-size: 20px;
      text-align: justify;

      p {
        margin-top: 35px;
      }
    }
  }
}