nav {
  margin:  1em;
  display: flex;

  ul {
    display: flex;
    margin: 0 auto;

    li {
      padding: 10px 25px;

      a {
        color : white;
        font-size: 24px;
        
        &:hover {
          transition: 0.3s;
          color: $primary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 625px) {
  nav {
    display: none;
  }
}