// Initial reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// Import and set fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap');

* { 
  font-family: 'Ubuntu', sans-serif;
}

// Variables
$primary-color: #22D3EE;
$bg-color: #1A2638;


body {
  background-color: $bg-color;
  color: white;
}